.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(400px,1fr));
    padding: 40px;
    grid-gap: 40px;
}


.card_image{
    width: 100%;
    display: block;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.album_card{
    background-color: lightcyan;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    transition: 0.5s;
    height: 550px;
    width: 100%;
    max-width: 400px;
}

.album_card:hover{
    transform:scale(1.1)
}

.card_flex{
    display: flex;
}

.card_na{
    padding: 10px;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: calc(10px + (10 - 4) * ((100vw - 200px) / (1600 - 200)));-size: small;
    max-width: 70%;
    max-height: 150px;
    flex:2;
}

.card_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.card_artist{
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container a{
    text-decoration: none;
    color: black;
}

.card_rating{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    border: solid;
    border-color: black;
    margin: 10px;
    width: 70px;
    margin-top: 40px;
    margin-right: 0px;
}