
.whole_wrapper{
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    min-width: 500px;
    
}

.create_form{
    width: 85%;
    padding: 10%;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20%;
}

.wrapper{
    background-color: aliceblue;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 10%;
    margin-bottom: 15%;
}
.wrapper .box{
    position: relative;
    width: 100%;
    padding: 3%;
    margin: 2%;

}

.review_rating_input{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.wrapper .box input:focus,
.wrapper .box input:valid{
    padding: 1%;
    background-color: aqua;
    margin-top: 15px;
    font-size: 1.4vw;
}

.wrapper .box label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4vw;
    font-size: bold;
    padding: 20px;
}

.wrapper .box input:focus ~ label,
.wrapper .box input:valid ~ label{
    padding: 0;
}

.create_summary{
    margin-top: 40px;
}

.create_summary textarea{
    width: 100%;
    font-size: 1.3vw;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 2px;
    min-height: 300px;
    border: solid;
    border-color: black
}

.create_summary textarea:focus{
    box-shadow: 0 0 0 2px black;
}

.create_summary label{
    font-size: 1.6vw;
    font-size: bold;
    padding: 20px;
}

.create_form button{ 
  background-color: aqua;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
}
.flagger{
    color:red;
    font-size: 1vw;
}