.NavBar{
    display: flex;
    padding: 1%;
    background-color: rgba(183, 0, 255, 0.342);
    justify-content: center;
    align-content: space-evenly;
    min-width: 500px;

}

.name{
    font-size: max(1.9vw,20px);
    font-weight: bold;
    margin-right: 2%;
    text-decoration: none;
    transition: 1s;
    padding: 1%;
    color: black;
    border-radius: 30px;
    font-family: Georgia, serif;
    text-align: center;
}
.name:hover{
    background-color: aqua;
}

.search_container{
    width: 60%;
    margin-top: 1%;
}

.search_bar{
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 30px;
}

.search_input{
    background: transparent;
    flex: 2;
    border: 0;
    outline: none;
    padding: 3%;
    font-size: max(1.5vw,12px);
    color: black;
    width: 85%;
}

.search_button img{
    width: 70%;
}

.search_button{
    flex: 1;
    width: max(16px,5%);
    padding: 1%;
    height: 100%;
    border-radius: 50%;
    border-width: 0;
    background: lightcyan;
    cursor: pointer;
}

.createlink{
    font-size: max(1.6vw,17px);
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: Georgia, serif;
    margin-left: 8%;
    transition: 1s;
    padding: 1%;
    border-radius: 30px;
    text-align: center;
}
@media only screen and (max-width: 600px){
    .search_container{
        margin-top: 20px;
        width: 500px;
    }
}

.createlink:hover{
    background-color: aqua;
}