.upper_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
    border-bottom: solid grey;
    border-width: 1px;
    padding-bottom: 5%;
    width: 100%;
}
.create_form{
    width: 85%;
    padding: 4%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.create_summary textarea{
    width: 100%;
    font-size: 1.3vw;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 2px;
    min-height: 300px;
    border: solid;
    border-color: black
}
 .box input{
    width: 12%;
    padding-left: 3%;
    font-size: 1.4vw;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 2px;
}
.create_summary{
    display: flex;
    flex-direction: column;
}
.create_summary label{
    font-size: 1.6vw;
    font-size: bold;
    padding: 20px;
}
.create_summary textarea:focus{
    box-shadow: 0 0 0 2px black;
}
.create_form button{ 
    background-color: aqua;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
  }
.flagger{
    color:red;
    font-size: 1vw;
}
.box1{
    padding: 6%;
    font-family: Georgia, serif;
    display: flex;
    flex-direction: column;
    height: 15%;
    margin-right: 10%;
}

.title{
    font-size: max(4.5vw,30px);
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: solid black;
}


.artist{
    font-size: max(3.0vw,20px);
    font-weight: bold;
    max-height: 5%;
}


.box{
    display: flex;
    margin-right: 20%;
    height: fit-content
}

.box img {
    width:350px;
    height:350px;
}

@media screen and (max-width: 1024px) {
    /* Styles go here */
    .box img {
        width:250px;
        height:auto;
    }
}

@media screen and (max-width: 750px) {
    .box img {
        width:150px;
        height:auto;
    }
}

@media screen and (max-width: 350px) {
    .box img {
        width:50px;
        height:auto;
    }
}


.rating{
    margin-top: 25%;
    font-size: max(3.5vw,25px);
    border: solid black;
    margin-bottom: 20%;
    padding: 5%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 30%;

}

.text_above_summary{
    font-size: max(3.5vw,15px);
    margin: 40px;
    color: grey;
    opacity: 0.6;
    font-family: Georgia, serif;
}

.review{
    margin: 50px;
    font-family: Georgia, serif;
    font-size: 20px;
}

.user{
    font-size: max(1.2vw, 12px);
    margin: 1%;
    font-family: Georgia, serif;
}