.upper_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
    border-bottom: solid grey;
    border-width: 1px;
    padding-bottom: 5%;
    width: 100%;
}

.box1{
    padding: 6%;
    font-family: Georgia, serif;
    display: flex;
    flex-direction: column;
    height: 15%;
    margin-right: 10%;
}

.title{
    font-size: max(4.5vw,30px);
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: solid black;
}


.artist{
    font-size: max(3.0vw,20px);
    font-weight: bold;
    max-height: 5%;
}


.box{
    display: flex;
    margin-right: 20%;
    height: fit-content
}

.box img {
    width:350px;
    height:auto;
}

@media screen and (max-width: 1024px) {
    /* Styles go here */
    .box img {
        width:250px;
        height:auto;
    }
}

@media screen and (max-width: 750px) {
    .box img {
        width:150px;
        height:auto;
    }
}

@media screen and (max-width: 350px) {
    .box img {
        width:50px;
        height:auto;
    }
}


.rating{
    margin-top: 25%;
    font-size: max(3.5vw,25px);
    border: solid black;
    margin-bottom: 20%;
    padding: 5%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 30%;

}

.text_above_summary{
    font-size: max(3.5vw,15px);
    margin: 40px;
    color: grey;
    opacity: 0.6;
    font-family: Georgia, serif;
}

.review{
    margin: 50px;
    font-family: Georgia, serif;
    font-size: 20px;
}